<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>User List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Mail</th>
        <th>Phone</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users | async">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.mail}}</td>
        <td>{{user.phone}}</td>
        <td align="right"><button (click)="deleteUser(user.idUser)" class="btn btn-danger">Delete</button>
          <button (click)="updateUser(user.idUser)" class="btn btn-danger" style="margin-left: 10px">Update</button>
          <button (click)="userDetails(user.idUser)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
